<header class="site-header">
<nav class="navbar navbar-default">
  
  <div class="container">
     
    <div class="navbar-header">
        
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home" style="font-size:25px;">{{ site.title }}</i></a>
    </div>
    
    
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}index.html">POSTS</a></li>
        <li><a href="{{ site.baseurl }}gitcheatsheet.html">GIT CHEATSHEET</a></li>
        <li><a href="{{ site.baseurl }}markdowncheatsheet.html">MARKDOWN CHEATSHEET</a></li>
        <li><a href="{{ site.baseurl }}tools.html">TOOLS</a></li>
        <!--<li><a href="{{ site.baseurl }}books.html">BOOKS</a></li>-->
        <li><a href="{{ site.baseurl }}about.html">ABOUT</a></li>
        <!--<li><a href="{{ site.baseurl }}projects.html">PROJECTS</a></li>
        <li><a href="http://sundeepkamath.github.io/vitae">RESUME</a></li>-->
      </ul>
    </div>
  </div>
</nav>
</header>